<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ch1</display-name>
  <filter>
    <filter-name>SetCharacterEncodingFilter</filter-name>
    <filter-class>encodingfilter.SetCharacterEncodingFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SetCharacterEncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>ConfirmPInfo</display-name>
    <servlet-name>ConfirmPInfo</servlet-name>
    <servlet-class>confirmPInfo.ConfirmPInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmPInfo</servlet-name>
    <url-pattern></url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ConfirmDInfo</display-name>
    <servlet-name>ConfirmDInfo</servlet-name>
    <servlet-class>confirmDInfo.ConfirmDInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmDInfo</servlet-name>
    <url-pattern>/drc.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>DoctorRegisterAction</display-name>
    <servlet-name>DoctorRegisterActionServlet</servlet-name>
    <servlet-class>doctorRegisterActionServlet.DoctorRegisterActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DoctorRegisterActionServlet</servlet-name>
    <url-pattern>/doctorregister.jsp</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>PatientRegisterAction</display-name>
    <servlet-name>PatientRegisterActionServlet</servlet-name>
    <servlet-class>patientRegisterActionServlet.PatientRegisterActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientRegisterActionServlet</servlet-name>
    <url-pattern>/patientRegister.jsp</url-pattern>
  </servlet-mapping>
   <servlet>
    <display-name>NewsPostServlet</display-name>
    <servlet-name>NewsPostServlet</servlet-name>
    <servlet-class>newspostServlet.NewsPostServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsPostServlet</servlet-name>
    <url-pattern>/patienthomepage.patientmain.jsp</url-pattern>
  </servlet-mapping>
</web-app>